<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moody.dao.IBoardQEBC">

	<!-- BOARD + MEMBER_INFO resultMap -->
	<resultMap type="boardDto" id="reSet">
 		<result property="bNo"			column="B_NO"/>
		<result property="id" 			column="M_ID" />
		<result property="nickName"		column="M_NICK" />
		<result property="bMood" 		column="B_MOOD" />
		<result property="bTitle"		column="B_TITLE" />
		<result property="bContent" 	column="B_CONTENT" />
		<result property="bRegDate" 	column="B_REG_DATE" />
		<result property="bUpdateDate"	column="B_UPDATE_DATE" />
		<result property="bLike"		column="B_LIKE" />
		<result property="bType"		column="B_TYPE" />
	</resultMap>
	<!-- BOARD + MEMBER_INFO resultMap END -->
	
	<!-- 댓글 -->
	<resultMap type="replyDto" id="replySet">
 		<result property="rno"			column="R_NO"/>
 		<result property="bno"			column="B_NO"/>
		<result property="id" 			column="M_ID" />
		<result property="nickName"		column="M_NICK" />
		<result property="contents" 	column="R_CONTENTS" />
		<result property="regDate" 		column="R_REG_DATE" />
		<result property="updateDate"	column="R_UPDATE_DATE" />
	</resultMap>
	
	<delete id="boardReplyDelete">
		DELETE FROM REPLY WHERE B_NO = #{bno}
	</delete>
	
	<select id="getReplyList" resultMap="replySet">
		SELECT R_NO, R.B_NO, R.M_ID, M.M_NICK, R_CONTENTS, TO_CHAR(TO_DATE(R_REG_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY-MM-DD HH24:MI') as "R_REG_DATE", R_UPDATE_DATE
      	FROM BOARD B JOIN REPLY R ON (B.B_NO = R.B_NO)
                     JOIN MEMBER_INFO M ON (R.M_ID = M.M_ID)
      	WHERE B.B_NO = #{bno}
      	ORDER BY R_NO      	
	</select>	
	<!-- 댓글목록 끝 -->
	
	<!-- 검색체크박스SQL -->	
	<sql id="bestBoard">
		<choose>
		    <when test="'getBestList'.equalsIgnoreCase(boardType)">
		    	AND B_LIKE > 10
		    </when>
		    <when test="'getBestSearch'.equalsIgnoreCase(boardType)">
		    	AND B_LIKE > 10
		    </when>
		    <otherwise>
		        AND B_LIKE IS NOT NULL
		    </otherwise>
		</choose>
	</sql>
	
 	<select id="getSearchCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B JOIN MEMBER_INFO M ON (B.M_ID = M.M_ID)
		WHERE ${searchType} LIKE ('%'||#{keyword}||'%')
		AND B_TYPE = #{bType}		
		AND B_NO > 0
		<include refid="bestBoard"></include>
	</select>
	
	<select id="getSearchPageCount" resultType="int">
		SELECT CEIL(COUNT(*)/10)
		FROM BOARD B JOIN MEMBER_INFO M ON (B.M_ID = M.M_ID)
		WHERE ${searchType} LIKE ('%'||#{keyword}||'%')
		AND B_TYPE = #{bType}		
		AND B_NO > 0
		<include refid="bestBoard"></include>
	</select>
	
 	<select id="getSearch" resultMap="reSet">
		<![CDATA[
		SELECT * FROM ( SELECT ROWNUM RNUM
                   , O.*        
                      FROM ( SELECT B_NO,B.M_ID,M.M_NICK,B_MOOD,B_TITLE,B_CONTENT,TO_CHAR(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY-MM-DD') as "B_REG_DATE", TO_CHAR(TO_DATE(B_UPDATE_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY-MM-DD') as "B_UPDATE_DATE", B_LIKE, B_TYPE
                             FROM BOARD B JOIN MEMBER_INFO M ON (B.M_ID = M.M_ID)
                             WHERE ${searchType} LIKE ('%'||#{keyword}||'%')
                             AND B_TYPE = #{bType}
       ]]>
       				<include refid="bestBoard"></include>
       <![CDATA[                             
                             ORDER BY B_NO DESC
                           ) O             
                  )
                  WHERE RNUM >= #{startPage}
                  AND ROWNUM <= #{endPage}
		]]>
	</select>
	<!-- 검색체크박스SQL END -->
	
	<!-- 무디 게시판 SQL -->
	<select id="getBoardCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B JOIN MEMBER_INFO M ON (B.M_ID = M.M_ID)
		WHERE B_TYPE = #{bType}
		<include refid="bestBoard"></include>
	</select>
	
	<select id="getPagingCount" parameterType="hashmap" resultType="int">
		SELECT CEIL(COUNT(*)/10)
		FROM BOARD B JOIN MEMBER_INFO M ON (B.M_ID = M.M_ID)
		WHERE B_TYPE = #{bType}
		<include refid="bestBoard"></include>
	</select>
	
 	<select id="getList" parameterType="hashmap" resultMap="reSet">
		<![CDATA[
		SELECT * FROM ( SELECT ROWNUM RNUM
                   , O.*        
                      FROM ( SELECT B_NO,B.M_ID,M.M_NICK,B_MOOD,B_TITLE,B_CONTENT,TO_CHAR(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY-MM-DD') as "B_REG_DATE", TO_CHAR(TO_DATE(B_UPDATE_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY-MM-DD') as "B_UPDATE_DATE", B_LIKE, B_TYPE
                             FROM BOARD B JOIN MEMBER_INFO M ON (B.M_ID = M.M_ID)
                             WHERE B_TYPE = #{pageDTO.bType}
        ]]>					
        					<include refid="bestBoard"></include>
        					
        <![CDATA[            
                             ORDER BY B_NO DESC
                           ) O             
                  )
                  WHERE RNUM >= #{pageDTO.startPage}
                  AND ROWNUM <= #{pageDTO.endPage}
		]]>
	</select>
	<!-- 무디 게시판 SQL END-->
	
	<!-- 통계 -->
	<select id="getChartLastWeek" parameterType="hashmap" resultType="int">
		<![CDATA[		
		SELECT COUNT(*)
      	FROM BOARD
      	WHERE TRUNC(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'),'iw') <= TRUNC(SYSDATE,'iw')-1
        AND TRUNC(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'),'iw') >= TRUNC(SYSDATE,'iw')-7
        AND M_ID = #{id}
        AND B_MOOD = #{bMood}
		]]>
	</select>
	
	<select id="getChartThisWeek" parameterType="hashmap" resultType="int">
		<![CDATA[
		SELECT COUNT(*)
      	FROM BOARD
      	WHERE TRUNC(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'),'iw') <= TRUNC(SYSDATE,'iw')+6
        AND TRUNC(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'),'iw') >= TRUNC(SYSDATE,'iw')
        AND M_ID = #{id}
        AND B_MOOD = #{bMood}
		]]>
	</select>
	
	<select id="getChartThisMonth" parameterType="hashmap" resultType="int">
		<![CDATA[	
		SELECT COUNT(TO_CHAR(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY-MM')) as "B_REG_DATE"
      	FROM BOARD
      	WHERE TO_CHAR(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
        AND M_ID = #{id}
        AND B_MOOD = #{bMood}
		]]>	
	</select>
	
	<select id="getChartThisYear" parameterType="hashmap" resultType="int">
		<![CDATA[	
		SELECT COUNT(TO_CHAR(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY'))
      	FROM BOARD
      	WHERE TO_CHAR(TO_DATE(B_REG_DATE, 'YYYYMMDDHH24:MISS'), 'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
        AND M_ID = #{id}
        AND B_MOOD = #{bMood}
		]]>	
	</select>
	
	<select id="getChartTotal" parameterType="hashmap" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE M_ID = #{id}
		AND B_MOOD = #{bMood}
	</select>
</mapper>
